*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100vw;
    height: 100%;
    /* border: 3px solid rgb(21, 255, 0); */
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    height: 150px; 
}
h1{
    font-size: 3em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgb(255, 0, 217); */
    width: 100%;
    height: 200%;
    gap: 100px;
    margin-bottom: 100px;
}

.triangulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
    max-height: 300px;
}
.retangulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
    max-height: 300px;
}
.quadrado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
    max-height: 300px;
}
.trapezio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
    max-height: 300px;
}
.circulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border: 1px solid red;
    max-height: 300px;
}