*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    /* border: 1px solid red; */
    gap: 40px;
    margin-top: 20px;
}
#h1-header{
    font-size: 3em;
}
header > ion-icon{
    font-size: 3em;
}
main{
    /* border: 1px solid rgb(0, 4, 255); */
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.container{
    /* border: 1px solid rgb(255, 0, 0); */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
}
.div1{
    /* border: 1px solid rgb(255, 255, 255); */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1F1F1F;
    border-radius: 8px;
}
#h1-div1{
    font-size: 30px;
}
#mybutton{
    width: 130px;
    background-color: #141414;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: space-around;
}
.div2{
    /* border: 1px solid rgb(51, 255, 0); */
    width: 100%;
    height: 100%;
    
}
ul{
    /* border: 3px solid rgb(0, 4, 255); */
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
#myli{
    
    
}
#testte{
    width: 100%;
    background-color: #1F1F1F;
    padding: 20px;
    padding-left: 50px;
    border-radius: 8px;
    font-size: 2em;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#testte:hover{
    border: 1px solid #ffffff9a;
    background-color: #ffffff23;
    transition-duration: 0.2s;
}
#removeButton{
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    
}

#removeButton > ion-icon{
    color: red;
    font-size: 2em;
}
#VisualizarModelo{
    padding: 10px;
    background-color: #1F1F1F;
    border: none;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #fff;
    
}
#VisualizarAno{
    padding: 10px;
    background-color: #1F1F1F;
    border: none;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #fff;
    
}
#Volta{
    padding: 10px;
    background-color: #1F1F1F;
    border: none;
    border-radius: 8px;
    color: #fff;
    border: 1px solid #fff;
}
/* #mysection{
    display: none;
} */
.seta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
#exibirMais{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    
}


@media(max-width:650px) {
    .div1{
        padding: 20px;
    }
    #h1-header{
        font-size: 30px;
        padding: 10px;
    }
}
@media(max-width: 400px) {
    #h1-div1{
        font-size: 20px;
    }
    header > ion-icon{
        font-size: 30px;
        margin-right: 10px;
    }
    li{
        padding-left: 20px;
        font-size: 25px;
    }
    #Volta{
        margin-top: 10px;
    }
}
